@import "./App.scss";

.page.biography {
  .head {
    background-image: url("/animation/16.jpg");
    background-size: 50%;
    background-repeat: no-repeat;
  }

  .page-cont {
    section.one {
      margin-bottom: 60px;
    }

    section.two {
      box-shadow: $shadow;
      padding: 30px;
      border-radius: 5px;
      height: 500px;
      width: 90%;
      margin-left: 5%;

      .section-cont {
        display: flex;
        gap: 50px;
        justify-content: space-between;
        height: 100%;

        .left {
          width: 50%;
          height: 90%;
          background-image: url("/bojana/headshot2.jpg");
          @include background($size: cover);
          border-radius: 5px;
        }

        .right {
          width: 50%;
        }
      }
    }
  }
}
