@import "./App.scss";

.page.biography {
  .head {
    background-image: url("/animation/16.jpg");
    background-size: 650px;

    background-repeat: no-repeat;
  }

  .page-cont {
    section.one {
      margin-bottom: 60px;
    }

    section.two {
      box-shadow: $shadow;
      padding: 30px;
      border-radius: 5px;
      height: 500px;
      width: 90%;
      margin-left: 5%;

      .section-cont {
        display: flex;
        gap: 50px;
        justify-content: space-between;
        height: 100%;

        .left {
          width: 50%;
          height: 90%;
          background-image: url("/bojana/headshot2.jpg");
          @include background($size: cover);
          border-radius: 5px;
        }

        .right {
          width: 50%;
        }
      }
    }
  }
}

//1440px - 1700px
@media (max-width: 1700px) {
}

//1024px - 1440px
@media (max-width: 1440px) {
}

//768px - 1024px
@media (max-width: 1024px) {
}

//470px - 768px
@media (max-width: 768px) {
}

//<<<<<<<<470px
@media (max-width: 470px) {
}