@import "./App.scss";

.page.blog {

  .head {
    background-image: url("/animation/17.jpg");

    .headline {
      font-size: 30px;
    }
  }

  .page-cont {

    .img-text {
      display: flex;
      gap: 30px;
      width: 100%;

      .img-cont {
        width: 30%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 5px;
      }

      .text-part {
        width: 80%;
      }

      &.one {
        .img-cont {
          background-image: url("/animation/18.jpg");
          height: 290px;
        }
      }

      &.two {
        .img-cont {
          background-image: url("/animation/19.jpg");
          background-size: 70%;
        }
      }
    }
  }
}
