@import "./App.scss";

.page.contact {
  .head {
    background-image: url("/animation/12.jpg");
    background-size: 45%;
    background-repeat: no-repeat;
  }

  .page-cont {
    .contact-flex {
      @include flex($justify: space-between);
      gap: 20px;
    }

    .left {
      background-image: url("/bojana/circle.png");
      height: 400px;
      width: 400px;
      background-size: contain;
    }

    .right {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 50px;

      .cont-part {
        @include flex($direction: column);
        padding: 20px;
        width: 100%;
        gap: 10px;

        .img {
          height: 80px;
          width: 80px;
          background-image: url("/icons/phone.svg");
          background-size: 40px;
          background-position: center;
          background-repeat: no-repeat;
        }

        .contact-p {
          font-size: 22px;
          font-weight: 500;
        }

        &:nth-child(2) {
          .img {
            background-image: url("/icons/mail.svg");
          }
        }

        &:nth-child(3) {
          .img {
            background-image: url("/icons/location.svg");
          }
        }

        &:nth-child(4) {
          .img {
            background-image: url("/icons/time.svg");
          }
        }
      }
    }
  }
}
