@import "./App.scss";

footer {
  width: 100%;
  height: 150px;
  box-shadow: $shadow;
  background-color: $beige-gold;

  .footer-cont {
    width: 1200px;
    height: 90%;
    margin: 0 auto;
    @include flex();
    gap: 50px;

    .left {
      height: 80%;
      width: 20%;
      background-image: url("/icons/logo.svg");
      @include background();
    }

    .right {
      @include flex($direction: column, $align: left);
      gap: 5px;

      p {
        font-size: 18px;
        margin-bottom: 0;
      }

      span {
        font-weight: 600;
        font-size: 22px;
      }

      a {
        all: unset;
        font-size: 18px;
        letter-spacing: 2px;
        cursor: pointer;
        display: inline-block;
        background-image: linear-gradient($chocolate-brown 0 0);
        background-position: 0 100%;
        background-size: 0% 2px;
        background-repeat: no-repeat;
        transition: background-size 0.2s, background-position 0s 0.2s;

        &:hover {
          background-position: 100% 100%;
          background-size: 100% 3px;
        }
      }
    }
  }
}
