@import "./App.scss";

header {
  height: 60px;
  font-family: $sarabun;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  z-index: 100;
  position: absolute;
  width: 100%;

  .header-cont {
    margin: 0 auto;
    width: 1200px;
    height: 100%;
    @include flex($justify: space-between);

    .logo-link {
      height: 50px;
      width: 50px;
      transition: scale 0.5s;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      &:hover {
        scale: 1.05;
      }
    }

    nav {
      .nav-content {
        @include flex($justify: space-between);
        gap: 10px;

        .navlink {
          text-decoration: none;
          font-size: 14px;
          letter-spacing: 2px;
          color: $chocolate-brown;
          font-weight: 600;
          padding: 5px 10px;
          transition: background-color 0.2s, color 0.2s;
          border-radius: 2px;
          background-image: linear-gradient(
            to right,
            transparent 50%,
            $beige-gold 50%
          );
          background-size: 200% 100%;
          transition: background-position 0.2s ease;

          &:hover {
            color: black;
            background-position: -100% 0;
          }

          &.active {
            background-color: $chocolate-brown;
            color: white;
          }
        }

        .ext-link {
          all: unset;
          height: 20px;
          width: 20px;
          background-size: cover;
          cursor: pointer;
          margin-left: 10px;
          filter: grayscale(0.8);
          transition: filter 0.2s;

          &.insta {
            background-image: url("/icons/instagram-color.svg");
            content-visibility: hidden;
          }

          &.linkedin {
            background-image: url("/icons/linkedin.svg");
            content-visibility: hidden;
          }
          &:hover {
            filter: grayscale(0);
          }
        }

        .language-btn {
          all: unset;
          cursor: pointer;
          height: 20px;
          width: 30px;
          margin-left: 10px;

          p {
            content-visibility: hidden;
          }

          img {
            height: 100%;
            width: 100%;
            object-fit: contain;
          }
        }
      }
    }
    .menu-btn {
      all: unset;
      @include background();
      background-image: url("/icons/menu.svg");
      height: 30px;
      width: 30px;
      cursor: pointer;
      transition: all 0.2s;
      display: none;

      &:hover {
        scale: 1.05;
      }

      &.show {
        background-image: url("/icons/close-menu.svg");
      }
    }
  }
}

//1024px - 1440px
@media (max-width: 1440px) {
  header {
    .header-cont {
      width: 95vw;

      nav {
        .nav-content {
          gap: 8px;

          .navlink {
            padding: 4px 8px;
          }

          .ext-link {
            height: 18px;
            width: 18px;
          }
        }
      }
    }
  }
}

//768px - 1024px
@media (max-width: 1024px) {
  header {
    height: 50px;

    .header-cont {
      width: 95vw;

      .logo-link {
        height: 40px;
        width: 40px;
      }

      nav {
        .nav-content {
          gap: 5px;

          .navlink {
            font-size: 12px;
            letter-spacing: 1.5px;
            padding: 3px 6px;
          }

          .ext-link {
            height: 15px;
            width: 15px;
            margin-left: 6px;
          }

          .language-btn {
            height: 16px;
            width: 28px;
            margin-left: 6px;
          }
        }
      }
    }
  }
}

//470px - 768px
@media (max-width: 768px) {
  header {
    height: 50px;

    .header-cont {
      width: 100%;
      padding: 0 5px;

      .logo-link {
        height: 40px;
        width: 40px;
        z-index: 1001;
      }

      nav {
        position: absolute;
        display: flex;
        height: 0;
        overflow: hidden;
        width: 100vw;
        top: 0;
        left: 0;
        transition: height 0.2s ease-in;

        .dark-part {
          height: 100vh;
          width: 60vw;
          background-color: rgba(0, 0, 0, 0.2);
        }

        .nav-content {
          @include flex($justify: start, $direction: column, $align: start);
          gap: 20px;
          background-color: rgba(96, 108, 56, 0.9);
          width: 40vw;
          padding-top: 50px;
          padding-left: 10px;

          .navlink {
            color: black;
            font-weight: 500;
            background-image: linear-gradient(
              to right,
              transparent 50%,
              $olive-green 50%
            );
            &.active {
              background-color: $olive-green;
            }
          }

          .ext-link {
            height: auto;
            width: auto;
            cursor: pointer;
            margin-left: 10px;
            filter: grayscale(0);
            transition: filter 0.2s;
            letter-spacing: 2px;
            transition: color 0.5s;
            font-size: 13px;

            &.insta {
              margin-top: 300px;
              background-image: none;
              content-visibility: visible;
            }

            &.linkedin {
              background-image: none;
              height: auto;
              width: auto;
              content-visibility: visible;
            }

            &:hover {
              color: white;
            }
          }

          .language-btn {
            all: unset;
            cursor: pointer;
            height: auto;
            width: auto;
            margin-left: 10px;

            p {
              content-visibility: visible;
              font-size: 13px;
              color: black;
              font-weight: 500;
              transition: color 0.5s;
            }

            img {
              display: none;
            }

            &:hover {
              p {
                color: white;
              }
            }
          }
        }
        &.show {
          height: 100vh;
        }
      }

      .menu-btn {
        all: unset;
        @include background();
        background-image: url("/icons/menu.svg");
        height: 25px;
        width: 25px;
        cursor: pointer;
        transition: all 0.2s;
        display: block;
        z-index: 1001;

        &:hover {
          scale: 1.05;
        }

        &.show {
          background-image: url("/icons/close-menu.svg");
        }
      }
    }
  }
}

//<<<<<<<<470px
@media (max-width: 470px) {
  header {
    height: 40px;

    .header-cont {
      width: 95vw;

      .logo-link {
        height: 35px;
        width: 35px;
      }

      nav {
        .dark-part {
          width: 50vw;
        }

        .nav-content {
          gap: 15px;
          width: 50vw;
          padding-top: 40px;

          .navlink {
            font-size: 12px;
            letter-spacing: 1.5px;
            padding: 4px 8px;
          }

          .ext-link {
            font-size: 11px;
            letter-spacing: 1px;
          }

          .language-btn {
            p {
              font-size: 11px;
              letter-spacing: 1px;
            }
          }
        }
        &.show {
          height: 100vh;
        }
      }
      .menu-btn {
        height: 20px;
        width: 20px;
      }
    }
  }
}
