@import "./App.scss";

header {
  height: 60px;
  font-family: $sarabun;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  z-index: 100;
  position: absolute;
  width: 100%;

  .header-cont {
    margin: 0 auto;
    width: 1200px;
    height: 100%;
    @include flex($justify: space-between);

    .logo-link {
      height: 50px;
      width: 50px;
      transition: scale 0.5s;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      &:hover {
        scale: 1.05;
      }
    }

    nav {
      @include flex($justify: space-between);
      gap: 10px;

      .navlink {
        text-decoration: none;
        font-size: 14px;
        letter-spacing: 2px;
        color: $chocolate-brown;
        font-weight: 600;
        padding: 5px 10px;
        transition: background-color 0.2s, color 0.2s;
        border-radius: 2px;
        background-image: linear-gradient(
          to right,
          transparent 50%,
          $beige-gold 50%
        );
        background-size: 200% 100%;
        transition: background-position 0.2s ease;

        &:hover {
          color: black;
          background-position: -100% 0;
        }

        &.active {
          background-color: $chocolate-brown;
          color: white;
        }
      }

      .ext-link {
        all: unset;
        height: 20px;
        width: 20px;
        background-size: cover;
        cursor: pointer;
        margin-left: 10px;
        filter: grayscale(0.8);
        transition: filter 0.2s;

        &.insta {
          background-image: url("/icons/instagram-color.svg");
        }

        &.linkedin {
          background-image: url("/icons/linkedin.svg");
          height: 20px;
          width: 20px;
        }
        &:hover {
          filter: grayscale(0);
        }
      }

      .language-btn {
        all: unset;
        cursor: pointer;
        height: 20px;
        width: 30px;
        margin-left: 10px;

        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }
}
