@import "./App.scss";

.page.home {
  .head {
    background-image: url("/animation/2.png");
  }

  .page-cont {
    section.one {
      @include flex($justify: space-between);
      margin-bottom: 50px;

      .right {
        width: 500px;
        height: 500px;
        background-image: url("/bojana/circle.png");
        @include background($position: right);
      }
    }

    section.two {
      .img-cont {
        margin-top: 50px;
        width: 100%;
        height: 400px;
        background-image: url("/animation/6.jpg");
        @include background($size: cover);
        border-radius: 5px;
        box-shadow: $shadow;
      }
    }
  }
}
