@import "./App.scss";

.page.popular {
  .head {
    background-image: url("/animation/6.jpg");
  }

  .page-cont {
    .section-flex {
      display: flex;
      gap: 30px;

      section {
        box-shadow: $shadow;
        padding: 30px;
        border-radius: 5px;
        width: 100%;

        .img-cont {
          width: 100%;
          height: 300px;
          margin-bottom: 20px;
          border-radius: 5px;
          @include background($size: cover);
        }

        &:nth-child(1) {
          .img-cont {
            background-image: url("/animation/13.jpg");
          }
        }

        &:nth-child(2) {
          h1 {
            text-align: right;
          }

          .img-cont {
            background-image: url("/animation/15.jpg");
            background-size: 60%;
          }
        }

        .blog-link {
          font-size: 18px;
          a {
            color: $chocolate-brown;
            font-weight: 300;
            margin-bottom: 4px;
          }
        }
      }
    }
  }
}
