@import "./App.scss";

.page.texts {
  .head {
    background-image: url("/animation/20.jpg");
    background-repeat: no-repeat;
    background-size: 600px;
  }

  .page-cont {
    a {
      font-size: 20px;
      color: $chocolate-brown;
      font-weight: 500;
    }

    .text-link-div {
      height: 40px;
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      padding-left: 20px;
      border-radius: 3px;
      background-color: rgba(128, 128, 128, 0.1);
      backdrop-filter: blur(2px);
    }
  }
}
