@import "./App.scss";

.page.what {
  .head {
    background-image: url("/animation/3.jpg");
  }

  .page-cont {
    section {
      box-shadow: $shadow;
      padding: 30px;
      border-radius: 5px;
      width: 90%;
      margin: 60px 0;
    }

    section.one {
      .section-cont {
        @include flex($justify: space-between);
        gap: 50px;
        height: 100%;
        .left {
          width: 50%;
        }
        .right {
          width: 50%;
          height: 700px;
          background-image: url("/animation/9.jpg");
          @include background($size: cover);
          border-radius: 5px;
        }
      }
    }

    section.two {
      margin-left: 5%;

      ul {
        margin: 30px 0 30px 30px;
        li {
          font-family: $dosis;
          font-size: 16px;
          letter-spacing: 2px;
          line-height: 24px;
          color: $chocolate-brown;
          text-align: justify;
          margin-bottom: 8px;

          &::marker {
            color: $olive-green;
          }
        }
      }
    }

    section.three {
      margin-left: 10%;
      .section-cont {
        @include flex($justify: space-between);
        gap: 50px;
        height: 100%;

        .left {
          width: 50%;
          background-image: url("/animation/5.jpg");
          @include background($size: cover);
          border-radius: 5px;
          height: 450px;
        }

        .right {
          width: 50%;
        }
      }
    }
  }
}
